<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Runes_Bio</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/Movie.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Runes_Bio.styles.css" asp-append-version="true" />
</head>
<body>
	<div class="nav">
		@Html.AntiForgeryToken()
		@{
			string admin = Context.Session.GetString("Admin");
			string employee = Context.Session.GetString("Employee");
			string[] adminID = new string[1];
			string[] employeeID = new string[1];
			if (string.IsNullOrEmpty(admin))
			{
				adminID[0] = "";
			}
			else
			{
				adminID = admin.Split('.');
			}
			if (string.IsNullOrEmpty(employee))
			{
				employeeID[0] = "";
			}
			else
			{
				employeeID = employee.Split('.');
			}
			if (string.IsNullOrEmpty(adminID[0]) && string.IsNullOrEmpty(employeeID[0]))
			{
				<a class="active" href="Index">Hjem</a>
				<a href="About">Om Os</a>
				<a href="Movie">Film</a>
				<div class="login">
					<a id="login" href="Login">Login</a>
				</div>
			}
			if (!string.IsNullOrEmpty(adminID[0]))
			{
				<a class="active" href="Index">Hjem</a>
				<a href="About">Om Os</a>
				<a href="Movie">Film</a>
				<a href="ToDo">Opgaver</a>
				<a href="AdminPanel">AdminPanel</a>
				<div class="login">
					<a id="logout" href="Login">LogOut</a>
				</div>
			}
			if (!string.IsNullOrEmpty(employeeID[0]))
			{
				<a class="active" href="Index">Hjem</a>
				<a href="About">Om Os</a>
				<a href="Movie">Film</a>
				<a href="ToDo">Opgaver</a>
				<div class="login">
					<a id="logout" href="Login">LogOut</a>
				</div>
			}
		}
	</div>
	@RenderBody();
</body>
</html>