.box {
    width: 300px;
    height: 150px;
    position: fixed;
    left: 10%;
    top: 10%;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out;
    text-align: center;
}

.box:hover{
    transform: scale(1.1);
}
.popUpBox {
    width: 600px;
    height: 400px;
    left: 30%;
    top: 25%;
    position: fixed;
    background-color: lightgray;
    border-radius: 40px;
    box-sizing: border-box;
    border-color: black;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
}

.closePopBox{
    position: absolute;
    top: 3px;
    right: 25px;
}

.buttonStyle{
    width: 50px;
    height: 30px;
    position: fixed;
    top: -60%;
    left: -50%;
    color: forestgreen;
}

.register {
    background-color: #4CAF50;
    color: white;
    width: 150px;
    height: 60px;
    border: 24px;
    box-sizing: border-box;

}
a.register{
    text-decoration: none;
}
.register:hover{
    background-color: forestgreen;
    transform: scale(1.2);
}

@keyframes flyin{
    from{
        transform: translateX(200vh);
    }
    to{
        transform: translateX(0vh);
        opacity: 1;
        visibility: visible;
    }
}
.flyin{
    animation: flyin 2s forwards;
}
