.centerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginBox {
    margin: 50px;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    outline: 3px solid black;
    width: 300px;
    height: 200px;
    text-align: center;
    display: flex;
    align-items: baseline;
}


.submitButton {
    border: none;
    border-radius: 7px;
    box-sizing: border-box;
    width: 75px;
    height: 25px;
    color: white;
    background-color: #0cb522;
    cursor: pointer;
    margin-left: 120px;
}

.inputText {
    margin-top: 10px;
    margin-right: 40px;
}

.inputField {
    margin-right: -140px;
    margin-top: -40px;
    float: right;
}

.passBox {
    visibility: hidden;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    outline: 3px solid black;
    width: 150px;
    height: 40px;
    text-align: center;
    display: flex;
}
