.latestMovieBox {
    margin-top: 40px;
    margin-right: 10px;
    text-align: center;
    position: fixed;
    width: 1050px;
    height: 600px;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    outline: 3px solid black;
    display: block;
    left: 15%;
}

.textButton {
    left: 3%;
    border: none;
    background-color: inherit;
    padding: 14px 4px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}