.latestMovieBox {
    margin-top: 40px;
    margin-right: 10px;
    text-align: center;
    float: left;
    width: 1050px;
    height: 600px;
    background-color: #7abcff;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    outline: 3px solid black;
    display: block;
    transition: width 1s ease-in, height 1s ease-in;
}
.latestMovieBox:hover{
    width: 1050px;
    height: 760px;
}

