.seat{
    width: 25px;
    height: 25px;
    border-radius: 3px;
    border-block: 2px;
    box-sizing: border-box;
    background-color: white;
    z-index: 10;
    position: fixed;
}
.seat:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.5);
    background-color: darkred;
}
.screen {
    transform: rotateX(70deg);
    position: fixed;
    top: -2%;
    left: 18.9%;
}

.TermsBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10%;
    left: 65%;
    border: 2px;
    border-radius: 3px;
    box-sizing: border-box;
    width: 420px;
    height: 620px;
    background-color: white;
    visibility: visible;
}