@page
@model Runes_Bio.Pages.AboutModel
@{
}
<head>
	<link rel="stylesheet" href="/css/site.css">
	<link rel="stylesheet" href="/css/About.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/LoggedIn.js"></script>
</head>
<body>
	<script src="/_framework/aspnetcore-browser-refresh.js"></script>
	<div class="nav">
		<a class="active" href="Index">Hjem</a>
		<a href="About">Om Os</a>
		<a href="Movie">Film</a>
		<div class="login">
			<a id="login" href="Login">Login</a>
		</div>
		<div class="login">
			<a id="register" href="Register">Register</a>
		</div>
	</div>
	<div class="centerBox">
		<div class="aboutBox" style="float: left;">
			<a>Om Os</a>
			<br />
			<p>

			</p>
		</div>
		<div class="aboutBox">
			<a>Hvad Kan Vi Tilbyde</a>
			<br />
			<p>

			</p>
		</div>
		<div class="aboutBox" style="float: right;">
			<a>Værdier</a>
			<br />
			<p>
				Vi har i gennem årene givet 20% af vores årlig indkomst ud til de velgørendheder
			</p>
		</div>
	</div>
</body>