@page
@model Runes_Bio.Pages.AboutModel
@{
	Layout = "_Layout";
}
<head>
	<link rel="stylesheet" href="/css/site.css">
	<link rel="stylesheet" href="/css/About.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/LoggedIn.js"></script>
</head>
<body>
	<script src="/_framework/aspnetcore-browser-refresh.js"></script>
	<div class="centerBox">
		<div class="aboutBox" style="float: left;">
			<p>Om Os</p>
			<br />
			<p>

			</p>
		</div>
		<div class="aboutBox">
			<p>Hvad Kan Vi Tilbyde</p>
			<br />
			<p>

			</p>
		</div>
		<div class="aboutBox" style="float: right;">
			<p>Værdier</p>
			<br />
			<p>
				Vi har i gennem årene givet 20% af vores årlig indkomst ud til de velgørendheder
			</p>
		</div>
	</div>
</body>