@page
@model Runes_Bio.Pages.AdminPanelModel
@{
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/AdminPanel.css" />
    <script src="/js/AdminPanel.js"></script>
</head>
<div>
    <div class="box">
        <button type="submit" onclick="FlyInBox(1)">shit</button>
    </div>
    <div class="box" style="left: 63%;">

    </div>
    <div class="box" style="top: 60%;">

    </div>
    <div class="box" style="left: 63%; top: 60%;">

    </div>
    <div class="popUpBox">

    </div>
</div>