@page
@model Runes_Bio.Pages.IndexModel
@{
	ViewData["Title"] = "Home page";
}
<head>
	<link rel="stylesheet" href="/css/site.css">
</head>
<body>
	<script src="/_framework/aspnetcore-browser-refresh.js"></script>
	<div class="nav">
		<a class="active" href="Index">Home</a>
		<a href="About">Om Os</a>
		<a href="Movie">Movies</a>
		<div class="login">
			<a href="Login">Login</a>
		</div>
		<div class="login">
			<a href="Register">Register</a>
		</div>
	</div>
	<div class="background"></div>
	<h1 class="center_Big_Text">Rune's Bio!</h1>
	<div class="centerBox">
		<div class="textBox">
			<a style="font-size: 30PX;"><strong>Velkommen til Rune's Bio</strong></a>
			<br />
			<br />
			<a style="text-align: left; font-size: 20px">
				Vi er glade for at have dig her i Rune's Bio, hvor filmoplevelser bliver til uforglemmelige øjeblikke.<br />Træd ind i vores biograf, og lad os tage dig med på en rejse gennem fantastiske filmoplevelser.
				<br /><br />Uanset om du er her for at nyde de seneste blockbuster-film eller for at dykke ned i hjertevarm dansk filmkunst, er du på rette sted.

				<br /><br />Vi stræber efter at skabe den perfekte atmosfære, hvor du kan dele spændende øjeblikke med familie og venner. Find din plads, læn dig tilbage, og lad filmens magi begynde.

			</a>
		</div>
	</div>
</body>
