@page
@model Runes_Bio.Pages.MovieModel
@{
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/Movie.css">
    <script src="/js/site.js"></script>
</head>
<body>
    <form method="post">
        <div class="latestMovieBox">
            <p class="center_Small_Text">Alle Film</p>
            <div style="max-height: 540px; overflow-y: scroll;">
                <table>
                    @foreach (List<string> movies in Model.item())
                    {
                        <div class="row">
                            @foreach (string movie in movies)
                            {
                                <div class="column">
                                    <button asp-page-handler="MoviePick" name="movieName" value="@movie" class="textButton">@movie</button>
                                </div>
                            }
                        </div>
                    }
                </table>
            </div>
        </div>
    </form>
</body>