@page
@model Runes_Bio.Pages.MovieModel
@{
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/Movie.css">
    <script src="/js/site.js"></script>
</head>
<body>
    <form method="post">
        <div class="latestMovieBox">
            <p class="center_Small_Text">Alle Film</p>
                @foreach (string movie in Model.item())
                {
                    <button asp-page-handler="MoviePick" name="movieName" value="@movie" class="textButton">@movie</button>
                }
        </div>
    </form>
</body>