@page
@model Runes_Bio.Pages.MovieModel
@{
	Layout = "_Layout";
}
<head>
	<link rel="stylesheet" href="/css/site.css">
	<link rel="stylesheet" href="/css/Movie.css">
</head>
<body>
	<script src="/_framework/aspnetcore-browser-refresh.js"></script>
	<div class="latestMovieBox" style="width: 250px;height: 600px;">
		<p class="center_Small_Text">Nyeste Film</p>
	</div>
	<div class="latestMovieBox" style="float: right;">
		<p class="center_Small_Text">Populære Film</p>
		@foreach(string thing in Model.item())
			{
				<br />
				<br />
				<p>@thing</p>
			}

	</div>
</body>