@page
@model Runes_Bio.Pages.PopCornModel
@{
	Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/css/site.css" />
	<link rel="stylesheet" href="/css/PopCornGame.css" />
	<link rel="stylesheet" href="/css/ToDo.css" />
	<script src="~/js/site.js"></script>
	<script src="~/js/PopCornGame.js"></script>
</head>
<body>
	<div class="InputValue" style="top: 25%; width: 230px; height: 180px;">
		<p>Hvis der er en popcorn der falder på jorden taber du.</p>
		<p>Dit Mål vil være 20 popcorn</p>
	</div>
	<div class="InputValue">
		<p>Skriv antal Popcorn der skal falde i sekundet</p>
		<input type="number" id="PopCornPS" />
	</div>
	<div class="ResultBox" id="won">
		<p style="align-content: center;">Du Vandt</p>
	</div>
	<div class="ResultBox" id="lost">
		<p style="align-content: center;">Du tabte</p>
	</div>
	<img class="PopCornImg" style="visibility: hidden" src="/Pictures/PopCornBox.png" id="PopCornBox" />
	<button style="position: fixed; top: 46%; left: 43%" id="StartGame" onclick="StartGame()">Start PopCorn Spil</button>
	<div class="PopCornCounter">
		<p id="Counter" style="font-size: 40px;">0</p>
	</div>
</body>
</html>