@page
@model Runes_Bio.Pages.RegisterModel
@{
	Layout = "_Layout";
}
<head>
	<link rel="stylesheet" href="/css/site.css">
	<link rel="stylesheet" href="/css/Login.css">
</head>
<body>
	<script src="/_framework/aspnetcore-browser-refresh.js"></script>
	<div class="centerBox">
		<div class="loginBox" style="height: 400px; width: 350px;">
			<form method="post" asp-page="/Register">
				@Html.AntiForgeryToken()
				<p class="inputText">Fornavn</p>
				<input class="inputField" type="text" name="nameID" placeholder="Konrad" required />
				<br />
				<p class="inputText">Email</p>
				<input class="inputField" type="text" name="emailID" placeholder="Kon143@gmail.com" required />
				<br />
				<p class="inputText">Kodeord</p>
				<input class="inputField" type="password" name="passID" placeholder="Kon9326rAd#" required />
				<br />
				<p class="inputText">Bekræft Kodeord</p>
				<input class="inputField" type="password" name="confPassID" placeholder="Kon9326rAd#" required />
				<br />
				@if (Model.passID != Model.confPassID)
				{
					<br />
					<meta http-equiv="refresh" content="3">
					<a class="passBox" style="visibility: visible; align-content: center;">Kodeordene er ikke ens</a>
				}
				<br />
				<button type="submit" class="submitButton">Login</button>
			</form>
		</div>
	</div>
</body>