@page
@model Runes_Bio.Pages.TicketPageModel
@{
}
<html>
	<div class="nav">
			<a class="active" href="#Home">Home</a>
			<a href="About">About</a>
			<a href="Contact">Contact</a>
			<div class="login">
				<button type="submit" asp-page-handler="Login">Login</button>
			</div>
		</div>
</html>