@page
@model Runes_Bio.Pages.TicketPageModel
@{
}
<html>
<head>
	<link rel="stylesheet" href="/css/site.css" />
	<link rel="stylesheet" href="/css/TicketPage.css" />
</head>
<body>
	<div class="nav">
		<a class="active" href="Index">Hjem</a>
		<a href="About">Om Os</a>
		<a href="Movie">Film</a>
		<div class="login">
			<a id="login" href="Login">Login</a>
		</div>
		<div class="login">
			<a id="register" href="Register">Register</a>
		</div>
	</div>
	<div class="screen">
		<img src="/Pictures/screen.png" />
	</div>
	<div>
		@{
			for(int i = 0; i < 6; i++)
			{
				Model.top += 40;
				Model.left = 500;
				for(int x = 0; x < 10; x++)
				{
					Model.left += 40;
					<div class="Seat" style="top: @Model.top; left: @Model.left;">
					</div>
				}
			}
		}
	</div>
</body>
</html>