@page
@model Runes_Bio.Pages.ToDoModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/css/site.css" />
	<link rel="stylesheet" href="/css/ToDo.css" />
	<script src="~/js/site.js"></script>
	<script src="~/js/ToDo.js"></script>
</head>
<body>
	<div class="centerBox">
		<button class="button" id="ButtonTrash" style="top: 30%" onclick="PickUpTrash()">Samle skrald op</button>
		<button class="button" id="ButtonCalTicket" style="top: 50%" onclick="CalculateTicket()">Udregn billeter</button>
		<button class="button" id="ButtonPopCorn" style="top: 70%" onclick="CatchPopCorn()">Fang popcorn</button>
	</div>
</body>
</html>